@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-canvas {
    justify-self: center;
}

.sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
.sidebar.active {
transform: translateX(0);
}